{% extends 'base.html.twig' %}

{% block title %}La Bonne Heure{% endblock %}
{% block body_attribute %}class="accueil"{% endblock %}

{% block main %}
<div id="bgimg-1" class="bgimg bgimg-1">
    <!-- The video -->
    <video autoplay muted loop id="myVideo">
        <source src="videos/la-bonne-heure-run.mp4" type="video/mp4">
    </video>
    <h1 class="animated pulse duration-15s infinite"><img src="/images/logo.png" alt="La Bonne Heure" /></h1>
    <button class="button-control" id="myBtnVolume" ><i class="fas fa-volume-mute"></i></button>
    <a href="#paragraph-1"><button class="button-control" id="bgimg-1-next" ><i class="fas fa-angle-double-down"></i></button></a>
</div>
<div id="paragraph-1" class="paragraph paragraph-1" >
    <img class="image-tour" src="/images/52590282_2268443073443349_315754897406427136_o (1).jpg" alt="Irish tour 2019" />
    <a href="#bgimg-1"><button class="button-control" id="paragraph-1-previous" ><i class="fas fa-angle-double-up"></i></button></a>
    <a href="#bgimg-2"><button class="button-control" id="paragraph-1-next" ><i class="fas fa-angle-double-down"></i></button></a>
</div>
<div id="bgimg-2" class="bgimg bgimg-2">
    <div class="caption">
    </div>
    <a href="#paragraph-1"><button class="button-control" id="bgimg-2-previous" ><i class="fas fa-angle-double-up"></i></button></a>
    <a href="#paragraph-2"><button class="button-control" id="bgimg-2-next" ><i class="fas fa-angle-double-down"></i></button></a>
</div>
<div id="paragraph-2" class="paragraph paragraph-2" >
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
    <a href="#bgimg-2"><button class="button-control" id="paragraph-2-previous" ><i class="fas fa-angle-double-up"></i></button></a>
    <a href="#bgimg-3"><button class="button-control" id="paragraph-2-next" ><i class="fas fa-angle-double-down"></i></button></a>
</div>
<div id="bgimg-3" class="bgimg bgimg-3">
    <div class="caption">
    </div>
    <a href="#paragraph-2"><button class="button-control" id="bgimg-3-previous" ><i class="fas fa-angle-double-up"></i></button></a>
    <a href="#paragraph-3"><button class="button-control" id="bgimg-3-next" ><i class="fas fa-angle-double-down"></i></button></a>
</div>
<div id="paragraph-3" class="paragraph paragraph-3" >
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
    <a href="#bgimg-3"><button class="button-control" id="paragraph-3-previous" ><i class="fas fa-angle-double-up"></i></button></a>
    <a href="#bgimg-4"><button class="button-control" id="paragraph-3-next" ><i class="fas fa-angle-double-down"></i></button></a>
</div>
<div id="bgimg-4" class="bgimg bgimg-4">
    <div class="caption">
    </div>
    <a href="#paragraph-3"><button class="button-control" id="bgimg-4-previous" ><i class="fas fa-angle-double-up"></i></button></a>
    <a href="#bgimg-1"><button class="button-control" id="bgimg-4-next" ><i class="fas fa-undo"></i></button></a>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('accueil') }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('accueil') }}
{% endblock %}
