{% extends 'base.html.twig' %}

{% block title %}La Bonne Heure{% endblock %}
{% block body_attribute %}class="accueil"{% endblock %}

{% block main %}

<div id="bgimg-1" class="bgimg-1">
    {% include 'pages/ecrans/video-titre.html.twig' with {'next': 'paragraph-1'} %}
</div>

<div id="paragraph-1" class="paragraph-1" >
    {% include 'pages/ecrans/concerts.html.twig' with {'previous': 'bgimg-1', 'next': 'bgimg-2'} %}
</div>

<div id="bgimg-2" class="bgimg-2">
    {% include 'pages/ecrans/presentation.html.twig' with {'previous': 'paragraph-1', 'next': 'bgimg-3'} %}
</div>

<div id="bgimg-3" class="bgimg-3">
    {% include 'pages/ecrans/albums.html.twig' with {'previous': 'bgimg-2', 'next': 'bgimg-4'} %}
</div>

<div id="bgimg-4" class="bgimg-4">
    {% include 'pages/ecrans/photo-escalier.html.twig' with {'previous': 'bgimg-3', 'next': 'bgimg-5'} %}
</div>

<div id="bgimg-5" class="bgimg-5">
    {% include 'pages/ecrans/videos.html.twig' with {'previous': 'bgimg-4', 'next': 'bgimg-6'} %}
</div>

<div id="bgimg-6" class="bgimg-6">
    {% include 'pages/ecrans/photo-muret.html.twig' with {'previous': 'bgimg-5', 'top': 'bgimg-1'} %}
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('accueil') }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('accueil') }}
{% endblock %}
