{% extends 'demo/base.html.twig' %}

{% block title %}Other Page{% endblock %}

{% block main %}
<div class="container marketing mt-5">
    <h1>Other page</h1>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('other-page') }}
{% endblock %}
