{% extends 'pages/ecrans/_button-control.html.twig' %}

{% block ecran %}
    <div style="
        background-size: cover; 
        background-image: url('/images/couvfacebook2.jpg');
    " class="soundcloud-container">
        {# <img src="/images/photo-album.jpg" alt="Albums la bonne heure" width="300"/> #}
        {# <iframe width="100%" height="350" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/237660939&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe> #}
        <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/669112499&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    </div>
{% endblock %}