{% extends 'pages/ecrans/_button-control.html.twig' %}

{% block ecran %}
    <div style="
        height: 100vh; 
        background-attachment: fixed; 
        background-size: cover; 
        background-image: url('/images/29103988_2035311903423135_6393957503347982336_o.jpg');
    ">
    </div>
{% endblock %}