{% extends 'pages/ecrans/_button-control.html.twig' %}

{% block ecran %}
    <div style="
        height: 100vh; 
        background-attachment: fixed; 
        background-size: cover; 
        background-image: url('/images/58372867_2308191592801830_1708636220545826816_n.jpg');
    ">
    </div>
{% endblock %}