{% extends 'pages/ecrans/_button-control.html.twig' %}

{% block ecran %}
    <div style="
        text-align: center;
        color: white;
        font-size: 25px;
        margin: 0px;
        padding: 150px;
        min-height: 100vh;
        display: table;
    ">
        <p style="
            display: table-cell;
            vertical-align: middle;
        ">
            Le groupe « La Bonne Heure » est né d’une rencontre musicale entre Brian Holmes, homme-orchestre irlandais, Madalina Drouvin, violoniste baroque roumaine et Hugo Cordonnier, ukuléliste français adepte du « Finger Picking ». 
            <br /><br />
            Auteurs, compositeurs et interprètes, ils sont tous trois passionnés de musique Country et de rythmes irlandais. Leurs univers évoquent la féérie d’une campagne irlandaise, l’ambiance joyeuse des pubs britanniques ou l’infini des routes américaines; une poésie et une énergie qu'ils retrouvent chez eux, dans la baie de Somme.
        </p>
    </div>
{% endblock %}